# 유가증권시장, 코스닥시장에 한해서 최근 10년간 공시 당일 일봉부터 일주일 후 까지 보고서 카테고리로 분류

In [1]:
import pandas as pd

In [2]:
공시 = pd.read_csv('사용디비.csv',encoding = 'euc-kr')
공시.head()

C:\Users\jeffr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (23,52,55,56,57,60,64,66,69,70,71,75,92,94,95,96,112,113) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,보고서키,날짜,구분,CategorySeq,보고서명,기재정정여부,자율공시여부,종목키,종목명,...,주권비율.1,주권직전수.1,주권직전비율.1,주권증가수.1,주권증가비율.1,의결권수,의결권직전수,의결권증감수,변동사유,변경사유
0,0,20201118900408,2020-11-18 18:39:00,코스닥시장,I001502,최대주주변경을수반하는주식담보제공계약체결,0,0,1144569,명성티엔에스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201118900379,2020-11-18 17:55:00,코스닥시장,I001165,불성실공시법인지정예고(공시변경),0,0,359474,제이웨이,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201118900378,2020-11-18 18:01:00,코스닥시장,I001165,불성실공시법인지정예고(공시번복),0,0,608839,에이루트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201118900371,2020-11-18 18:03:00,코스닥시장,B002222,전환가액의조정(제4회차),0,0,493431,자안,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201118900369,2020-11-18 18:00:00,코스닥시장,B002002,감사보고서제출,0,0,1338724,SNK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#pandas.query를 이용하여 데이터프레임 분류해주기
#pandas.query로는 데이터프레임 내의 텍스트 데이터만 검색가능 
#코스닥시장과 유가증권시장만을 분류 
data = 공시.query('구분.str.contains("코스닥시장") or 구분.str.contains("유가증권")',engine = 'python')
data.head()

,Unnamed: 0,보고서키,날짜,구분,CategorySeq,보고서명,기재정정여부,자율공시여부,종목키,종목명,...,주권비율.1,주권직전수.1,주권직전비율.1,주권증가수.1,주권증가비율.1,의결권수,의결권직전수,의결권증감수,변동사유,변경사유
0,0,20201118900408,2020-11-18 18:39:00,코스닥시장,I001502,최대주주변경을수반하는주식담보제공계약체결,0,0,1144569,명성티엔에스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201118900379,2020-11-18 17:55:00,코스닥시장,I001165,불성실공시법인지정예고(공시변경),0,0,359474,제이웨이,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201118900378,2020-11-18 18:01:00,코스닥시장,I001165,불성실공시법인지정예고(공시번복),0,0,608839,에이루트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201118900371,2020-11-18 18:03:00,코스닥시장,B002222,전환가액의조정(제4회차),0,0,493431,자안,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201118900369,2020-11-18 18:00:00,코스닥시장,B002002,감사보고서제출,0,0,1338724,SNK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#컬럼 확인용
for each in data.columns:
    print(each)

Unnamed: 0
보고서키
날짜
구분
CategorySeq
보고서명
기재정정여부
자율공시여부
종목키
종목명
종목코드
법인구분
업종명
자본총계
자본금
자본잠식율
매출액
영업이익
법인세비용차감전이익
ROE
영업활동으로인한현금흐름
투자활동으로인한현금흐름
재무활동으로인한현금흐름
분봉시간
분봉시가
분봉고가
분봉저가
분봉종가
분봉거래량
분봉거래대금
분봉미결제약정수량
분봉주가등락률
일봉날짜
일봉시가
일봉고가
일봉저가
일봉종가
일봉거래량
일봉거래대금
일봉주가등락률
일주후날짜
일주후시가
일주후종가
일주후거래량
일주후거래대금
일주후주가등락률
이주후날짜
이주후시가
이주후종가
이주후거래량
이주후거래대금
이주후주가등락률
내용
계약금액총액
매출액대비
계약시작일
계약종료일
계약수주일자
계약기간일
월별단위매출액
계약상대
신주보통주
주당액면가액
증자전보통주
신주배정기준일
주당신주배정보통주
신주상장예정일
발행회사
현재주식수
보고자구분
보고자
보고자번호
발행회사임원
발행회사직위명
발행회사선임일
발행회사퇴임일
발행회사주주
특정증권수
특정증권비율
특정증권직전수
특정증권직전비율
특정증권증가수
특정증권증가비율
주권수
주권비율
주권직전수
주권직전비율
주권증가수
주권증가비율
변동전주식수
변동후주식수
변동증감수
발행회사.1
현재주식수.1
보고자구분.1
보고자.1
보고자번호.1
주식수
주식비율
주식직전수
주식직전비율
주식증가수
주식증가비율
주권수.1
주권비율.1
주권직전수.1
주권직전비율.1
주권증가수.1
주권증가비율.1
의결권수
의결권직전수
의결권증감수
변동사유
변경사유

### 컬럼 내용정리

In [5]:
#구분은 시장에 따라 ex 코스닥,유가증권시장 
#CategorySeq는 공시 카테고리에 대한 분류
#보고서명에 공시에 대한 제목 
#내용에는 공시 내용

In [6]:
#에러가 발생하여 데이터를 복사해준후 컬럼이름을 수정
#컬럼이름을 앞에 붙인 이유는 filter 를 편하게 하기 위해서 
data2 = data.copy()
data2.rename(columns ={'날짜':'일_날짜', 'CategorySeq':'일_카테고리', '종목명':'일_종목명', '종목코드':'일_종목코드'},inplace = True)

In [7]:
data2 = data2.filter(regex = '^일')
data2.head()

,일_날짜,일_카테고리,일_종목명,일_종목코드,일봉날짜,일봉시가,일봉고가,일봉저가,일봉종가,일봉거래량,일봉거래대금,일봉주가등락률,일주후날짜,일주후시가,일주후종가,일주후거래량,일주후거래대금,일주후주가등락률
0,2020-11-18 18:39:00,I001502,명성티엔에스,257370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-11-18 17:55:00,I001165,제이웨이,58420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-11-18 18:01:00,I001165,에이루트,96690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-11-18 18:03:00,B002222,자안,221610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-11-18 18:00:00,B002002,SNK,950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#r결측값이 있는 행들을 제거 
data2 = data2.dropna()
data2.head()

,일_날짜,일_카테고리,일_종목명,일_종목코드,일봉날짜,일봉시가,일봉고가,일봉저가,일봉종가,일봉거래량,일봉거래대금,일봉주가등락률,일주후날짜,일주후시가,일주후종가,일주후거래량,일주후거래대금,일주후주가등락률
4695,2020-11-06 14:54:00,I002005,인터로조,119610,2020-11-06,21200.0,21250.0,20500.0,20500.0,29977.0,624376.0,-0.033019,2020-11-13,21200.0,21450.0,21696.0,462562.0,0.000000
4698,2020-11-06 14:51:00,B002205,지티지웰니스,219750,2020-11-06,5100.0,5140.0,4950.0,5050.0,268145.0,1345435.0,-0.009804,2020-11-13,4940.0,5000.0,212475.0,1040144.0,-0.031373
4699,2020-11-06 14:39:00,I001083,압타머사이언스,291650,2020-11-06,32050.0,37750.0,28850.0,31500.0,16865644.0,553468672.0,-0.017161,2020-11-13,25500.0,24650.0,897382.0,22270714.0,-0.204368
4700,2020-11-06 14:28:00,I001104,서희건설,35890,2020-11-06,1160.0,1160.0,1145.0,1145.0,772919.0,889091.0,-0.012931,2020-11-13,1185.0,1205.0,1607566.0,1925957.0,0.021552
4701,2020-11-06 14:08:00,I001384,피엔케이피부임상연구센타,347740,2020-11-06,26700.0,28450.0,25300.0,26200.0,561884.0,14939021.0,-0.018727,2020-11-13,24400.0,23750.0,91413.0,2166477.0,-0.086142

In [9]:
#중복되지 않은 카테고리 확인을 위해
data2['일_카테고리'].unique()

array(['I002005', 'B002205', 'I001083', 'I001104', 'I001384', 'I001504',
       'I001417', 'B002160', 'I001445', 'I001105', 'I002007', 'I001366',
       'I001066', 'I003099', 'I001023', 'B002302', 'I003021', 'I004001',
       'I001611', 'I001295', 'I003088', 'I001365', 'B002299', 'C001015',
       'C001005', 'D002', 'C003021', 'C002013', 'C001014', 'D001003',
       'D001004', 'A003', 'J001014', 'B001020', 'E006', 'J001037',
       'B001026', 'E005001', 'C002015', 'B001045', 'B001024', 'I001552',
       'I001289', 'I001307', 'B002294', 'I001293', 'I001081', 'B002239',
       'B002222', 'B002226', 'I001086', 'I001363', 'I001165', 'I001106',
       'B002223', 'B002293', 'I001364', 'I001080', 'I001502', 'B002037',
       'I001301', 'I001222', 'I001185', 'I001110', 'I001297', 'I001170',
       'I001294', 'I001373', 'I001058', 'I001139', 'I001304', 'I002004',
       'B001', 'B001021', 'B001028', 'B001004', 'E001001', 'B001022',
       'C006006', 'B001033', 'C001013', 'E004', 'C002012', 'B001047',
       'C001009', 'B001019', 'D003002', 'I003102', 'I001132', 'I003100',
       'B002237', 'B002162', 'B002042', 'I002006', 'I001542', 'I003030',
       'I001300', 'B001038', 'C004006', 'C002022', 'B001037', 'B001012',
       'C004002', 'C004001', 'C006003', 'J001013', 'J001045', 'J001044',
       'A002', 'E002004', 'E003', 'B002006', 'B002166', 'B002282',
       'I001022', 'I001016', 'I001646', 'I003035', 'B001010', 'I001419',
       'I001305', 'I001225', 'I003072', 'B001032', 'B001025', 'B001031',
       'B001002', 'I001627', 'I001362', 'I001015', 'I001624', 'I001117',
       'B002163', 'B002046', 'I004002', 'I001111', 'I001536', 'B001008',
       'J001016', 'E002003', 'C003019', 'C003020', 'E001003', 'I001541',
       'B002167', 'I001540', 'I001587', 'I001361', 'I001455', 'I001568',
       'I001028', 'I001036', 'B002039', 'B002007', 'I001210', 'I002008',
       'J001057', 'J001041', 'J001033', 'B001003', 'B001009', 'J001015',
       'J001018', 'B001034', 'I001232', 'B002373', 'I003060', 'B002240',
       'I001618', 'I001070', 'B002227', 'I001549', 'I002009', 'C007004',
       'B001048', 'B001027', 'J001019', 'I001560', 'I003016', 'I001388',
       'I001567', 'B002002', 'B002106', 'I001292', 'A001', 'J001020',
       'J001038', 'I001360', 'I001290', 'I003051', 'J004004', 'D004002',
       'D004003', 'I001059', 'I001100', 'B002264', 'J001047', 'J001028',
       'J001027', 'C002011', 'I001503', 'I001127', 'B002285', 'I001164',
       'I001024', 'B002310', 'I001283', 'I003027', 'I001644', 'I001131',
       'B001011', 'J001017', 'I001076', 'I001074', 'I001326', 'I001636',
       'I001121', 'I001637', 'I001264', 'I001241', 'I001069', 'B001006',
       'B002103', 'C002009', 'I001629', 'I001642', 'I006005', 'C003022',
       'I003026', 'B002221', 'I001551', 'J001009', 'J001007', 'J001012',
       'J001011', 'J001005', 'J001003', 'J001006', 'J001002', 'C004005',
       'J004003', 'J001001', 'F001', 'I001122', 'I001102', 'B002350',
       'I001538', 'I003114', 'I001460', 'I001188', 'I001461', 'I001191',
       'I001260', 'I001257', 'I001140', 'I001148', 'I001144', 'J001026',
       'J001023', 'I001021', 'B002206', 'I001234', 'C002008', 'I001369',
       'J001034', 'J001036', 'I001073', 'I001116', 'I001645', 'I001332',
       'J001048', 'I001425', 'A001005', 'I001093', 'I001505', 'I001072',
       'I001107', 'I001245', 'B002027', 'I001303', 'I001462', 'J001050',
       'I001306', 'J001054', 'J005033', 'I001109', 'I001614', 'D004001',
       'J001049', 'I001266', 'D003001', 'I001561', 'I001374', 'I001370',
       'J004001', 'J004002', 'I003037', 'J001031', 'B001046', 'I001078',
       'J001025', 'I001546', 'I001331', 'I001014', 'B002372', 'I001118',
       'I001562', 'I001128', 'C003014', 'C003010', 'C003012', 'C003015',
       'I001227', 'J001053', 'A002003', 'I001239', 'C005013', 'I001621',
       'I001537', 'I001168', 'I001158', 'B002259', 'I001616', 'I001035',
       'I001626', 'I001238', 'I001285', 'I001067', 'I001376', 'J001010',
       'J001008', 'F002', 'I001521', 'I001020', 'I001082', 'I001602',
       'I001113', 'B002024', 'I001322', 'J001055', 'J001035', 'I001324',
       'I001467', 'I001623', 'B002192', 'I001091', 'I001228', 'I001094',
       'I001532', 'I001557', 'I001520', 'I001079', 'B002351', 'I001141',
       'I001523', 'B002207', 'J005022', 'I001311', 'I001416', 'I001379',
       'I001533', 'B002023', 'I001153', 'I001154', 'B001042', 'B002238',
       'B002188', 'I001356', 'I003036', 'I001443', 'I001152', 'J001052',
       'I001345', 'I001265', 'B002005', 'I001418', 'I001114', 'I001259',
       'J001029', 'I001115', 'I001470', 'I001480', 'I001143', 'I001151',
       'I001190', 'I001359', 'I001647', 'I003025', 'I001586', 'I001340',
       'I001149', 'B002374', 'I003094', 'I001534', 'I001635', 'I001634',
       'I001046', 'I001302', 'I001218', 'B002363', 'B002336', 'I001286',
       'I001236', 'I003019', 'B002091', 'I001007', 'I006003', 'I001617',
       'I001196', 'C009007', 'B001043', 'I001456', 'I001457', 'I006004',
       'I001434', 'B001044', 'I001437', 'I001352', 'I001169', 'I001484',
       'C009006', 'I001136', 'I001508', 'B002045', 'I001235', 'I001584',
       'I001343', 'I001615', 'I001284', 'I001252', 'I001375', 'I001184',
       'I001643', 'I001330', 'B002231', 'I003115', 'F005002', 'C003031',
       'B001041', 'I001096', 'I001563', 'I001099', 'I001422', 'I001575',
       'I001577', 'J001040', 'E008004', 'I001620', 'B002174', 'I006006',
       'I001172', 'I001312', 'I001420', 'J001039', 'I001431', 'I001428',
       'I001608', 'I001371', 'I001599', 'J001042', 'C003030', 'I001518',
       'I001060', 'I001198', 'A005', 'I001063', 'J001056', 'I001446',
       'J001021', 'I001269', 'I001003', 'C002019', 'I001569', 'I001097',
       'I003033', 'I001604', 'B002171', 'J001043', 'J001030', 'I001084',
       'I001087', 'C006001', 'I001005', 'I001350', 'B002170', 'I001219',
       'B002252', 'C003033', 'I001598', 'I001482', 'C009005', 'I001256',
       'I001581', 'I001556', 'I001529', 'J001004', 'I001077', 'I001090',
       'I001001', 'I001473', 'I001438', 'E002001', 'J005003', 'D004007',
       'I001509', 'I001522', 'I001530', 'I001064', 'I001267', 'B001035',
       'B002090', 'I001633', 'I001166', 'B002232', 'I001299', 'I001220',
       'I003034', 'I001378', 'I001453', 'B002001', 'B002105', 'I001454',
       'B003022', 'B002228', 'I001250', 'I001061', 'I001310', 'B002364',
       'I001009', 'I001458', 'I001558', 'B001039', 'I001274', 'I001137',
       'I001272', 'B002013', 'C002023', 'I001268', 'I001068', 'I001432',
       'E001002', 'J001051', 'I006012', 'I001018', 'B002209', 'B002208',
       'B002210', 'I001233', 'I001103', 'I001469', 'I001207', 'B002040',
       'I001519', 'I001591', 'C003032', 'I003049', 'I001051', 'I001325',
       'I001323', 'B002283', 'B001005', 'C011003', 'I001098', 'D004004',
       'B002375', 'C001007', 'I001449', 'B002165', 'B002168', 'B002342',
       'B003014', 'J002041', 'J002063', 'J002042', 'J002068', 'J002012',
       'B003021', 'B002191', 'J002080', 'J002069', 'J002044', 'J002059',
       'J002050', 'J002047', 'J002026', 'J002024', 'J002011', 'J002005',
       'J002023', 'J002022', 'J002007', 'J002025', 'J002030', 'J002031',
       'B002247', 'F003', 'I001459', 'J002058', 'J002049', 'B003001',
       'B003004', 'B003003', 'B002253', 'B002219', 'J002065', 'J002043',
       'J002048', 'J002006', 'B002261', 'I001450', 'B002044', 'B002225',
       'I001039', 'J002070', 'C003016', 'C003018', 'C003017', 'B002295',
       'B002257', 'B002198', 'B002250', 'J004005', 'J002066', 'B002246',
       'E003003', 'I001056', 'C003028', 'C003027', 'J004006', 'J002064',
       'B002236', 'E003001', 'C003040', 'C003041', 'C003024', 'C003023',
       'C001016', 'B002094', 'C001012', 'C003029', 'B002026', 'C003045',
       'C003036', 'C003042', 'C003025', 'C002018', 'I001555', 'C002031',
       'C002024', 'E008006', 'C006007', 'C006005', 'C006002', 'C007009',
       'E001004', 'C007006', 'C007002', 'J005010', 'C002032', 'A004001',
       'E003006', 'E003002', 'E003004', 'C002025', 'B002357', 'C001002',
       'E008002', 'B003008', 'C002005', 'B002008', 'I001224', 'B002248',
       'B002159', 'B002309', 'B002092', 'E008001', 'E002002', 'B002199',
       'E009004', 'E008005', 'B002190', 'B002220', 'I001571', 'J002062',
       'I001231', 'J002052', 'E009003', 'I001124', 'I001033', 'I001040',
       'B003006', 'E009001', 'J005002', 'C003009', 'C003006', 'C007007',
       'C011001', 'B003024', 'I003116', 'I003039', 'I003090', 'I003069',
       'I001354', 'I003022', 'I001355', 'I003040', 'I003012', 'I003013',
       'I003015', 'I003032', 'I003038', 'I003067', 'C003044', 'C003035',
       'I001528', 'C003005', 'C003008', 'C003043', 'I003011', 'C003004',
       'C003007', 'C003034', 'I001512', 'I001638', 'B002353', 'J006002',
       'J005035', 'J002078', 'I003057', 'I001334', 'I002003', 'C011002',
       'I003014', 'I001065', 'B002341', 'B002352', 'B002243', 'I002012',
       'J002076', 'I001338', 'I001353', 'I001525', 'I003123', 'B002297',
       'I003073', 'I003074', 'I003075', 'B003002', 'I001527', 'I003031',
       'B002305', 'I003087', 'I003119', 'B002161', 'C001001', 'B002304',
       'B002012', 'B002345', 'C002001', 'I001186', 'B003020', 'I001129',
       'I001125', 'I001579', 'B002224', 'B002043', 'B003016', 'B002011',
       'B002249', 'E008003', 'B002034', 'I001092', 'B002038', 'B002041',
       'B003007', 'B003018', 'B002202', 'B003012', 'B002031', 'B003010',
       'I002002', 'I001497', 'B003017', 'I001315', 'B002315', 'B002218',
       'I003085', 'B002204', 'B002234', 'B002187', 'I003041', 'I001498',
       'B003015', 'B002200', 'I001085', 'B003013', 'B003019', 'B002361',
       'B002245', 'B002201', 'B002347', 'B003005', 'B003011', 'B002308',
       'I001516', 'B002301', 'I001162', 'B002362', 'B002376', 'B002216',
       'I001463', 'B002344', 'B002339', 'B002337', 'B002303', 'I001248',
       'I001296', 'B002089', 'I001088', 'B002306', 'B003009', 'B002036',
       'B002300', 'B002104', 'B002317', 'B002014', 'B002025', 'I001514',
       'B002311', 'B002244', 'I001513', 'B002291', 'I001547', 'I001515',
       'I003064', 'B002296', 'B002256', 'B002292', 'I001543', 'I001554',
       'B002348', 'I001049', 'I003070', 'I003101', 'B002254', 'I001452',
       'D001002', 'D001001', 'B002164', 'B002030', 'D004008', 'I003044',
       'I001163', 'I003055', 'B002366', 'J006001', 'D004006', 'J002074',
       'I001336', 'B002368', 'B002287', 'B002365', 'B002369', 'B002367',
       'B002356', 'B002010', 'B002009', 'B002281', 'B002019', 'B002312',
       'B002093', 'B002102', 'B002262', 'B002095', 'B002354', 'B002101',
       'B002203', 'B002242', 'I001031', 'I001565', 'B002241', 'B002096',
       'B002021', 'B002100', 'I001181', 'B002377', 'B002272', 'B002266',
       'B002276', 'B002270', 'B002278', 'B002032', 'I003071', 'B002003',
       'B002271', 'B002265', 'I003084', 'B002277', 'B002343', 'I001610',
       'B002286', 'B002212', 'B002346', 'B002015', 'B002004', 'B002275',
       'B002269', 'B002229', 'B002279', 'B002098', 'I001500', 'B002230',
       'B002020', 'B002099', 'I001030', 'B002280', 'I001029', 'B002338',
       'B002263', 'I001464', 'B002211', 'I001553', 'B002314', 'I001609',
       'B002097', 'I002', 'J002071', 'I001032', 'B002313', 'I001494',
       'I001492', 'I001488', 'B002349', 'I001491', 'I001487', 'I001493',
       'I002011', 'I002010', 'B002217', 'I003083', 'I003082', 'E007001',
       'B002016', 'I001588', 'I003066', 'E007002', 'I001564', 'I003120',
       'I003125', 'I003080', 'I003081', 'H001001', 'B002358', 'I003121',
       'B002215', 'I001358', 'I001357', 'I003028', 'B002307', 'I001382',
       'B002169', 'B003023', 'I001012', 'B002255', 'I003058', 'B002048',
       'B002197', 'B002193', 'B002333', 'I003029', 'I001507', 'I003052',
       'I001055', 'B002235', 'B002274', 'B002268', 'B002267', 'B002273',
       'E006001', 'B002355', 'B002035', 'B002371', 'C001011', 'E009002',
       'B002335', 'B002047', 'B002331', 'B002018', 'B002213', 'B002251',
       'B002195', 'H001004', 'B002214', 'B002233', 'B002329', 'B002330',
       'B002370', 'C001010'], dtype=object)

In [10]:
#날짜별로 정렬해주기 위해서 
#groupby 이용시 적용해줄 함수 설정 
def top(df):
    return df.sort_values(by='일봉날짜')

#카테고리별로 묶어준 데이터 날짜 순으로 정리.
data2 = data2.groupby('일_카테고리').apply(top)
data2.head()

                      일_날짜 일_카테고리   일_종목명  일_종목코드        일봉날짜     일봉시가  \
일_카테고리
A001   1549996  1999-03-24   A001     광전자   17900  1999-03-24   6350.0
       1549994  1999-03-25   A001      국보    1140  1999-03-25   7800.0
       1549993  1999-03-25   A001    대영포장   14160  1999-03-25   9900.0
       1549992  1999-03-25   A001   아세아제지    2310  1999-03-25  10550.0
       1549991  1999-03-25   A001  예스코홀딩스   15360  1999-03-25  24900.0

                   일봉고가     일봉저가     일봉종가     일봉거래량     일봉거래대금   일봉주가등락률  \
일_카테고리
A001   1549996   6800.0   6300.0   6700.0  613510.0  4057000.0  0.055118
       1549994   8000.0   7620.0   7800.0   10080.0    78795.0  0.000000
       1549993  10073.0   9040.0   9040.0  454110.0  5044582.0 -0.086869
       1549992  11200.0  10500.0  10800.0   75860.0   817000.0  0.023697
       1549991  25600.0  24900.0  25400.0    6900.0   174000.0  0.020080

                     일주후날짜    일주후시가    일주후종가    일주후거래량    일주후거래대금  일주후주가등락률
일_카테고리
A001   1549996  1999-03-31   6470.0   6360.0  133360.0   852000.0  0.018898
       1549994  1999-04-01   8050.0   7960.0   13830.0   109626.0  0.032051
       1549993  1999-04-01   9126.0   9126.0  270650.0  2842055.0 -0.078182
       1549992  1999-04-01  12150.0  12000.0  166510.0  1975000.0  0.151659
       1549991  1999-04-01  24500.0  24800.0    4010.0    99000.0 -0.016064

In [11]:
data2['일봉날짜']

일_카테고리
A001     1549996    1999-03-24
         1549994    1999-03-25
         1549993    1999-03-25
         1549992    1999-03-25
         1549991    1999-03-25
                       ...
J006002  1435705    2009-11-11
         1347428    2014-08-25
         1376668    2014-08-25
         1284412    2015-04-24
         1204404    2015-04-24
Name: 일봉날짜, Length: 1522810, dtype: object

In [12]:
#날짜 데이터들을 object에서 데이터 형식으로 변경 
data2['일_날짜'] = pd.to_datetime(data2['일_날짜'], format='%Y-%m-%d %H:%M:%S')
data2['일_날짜']

일_카테고리
A001     1549996   1999-03-24 00:00:00
         1549994   1999-03-25 00:00:00
         1549993   1999-03-25 00:00:00
         1549992   1999-03-25 00:00:00
         1549991   1999-03-25 00:00:00
                           ...
J006002  1435705   2003-03-24 15:20:00
         1347428   2004-08-19 11:28:00
         1376668   2004-03-17 09:48:00
         1284412   2005-09-13 13:43:00
         1204404   2007-01-16 09:23:00
Name: 일_날짜, Length: 1522810, dtype: datetime64[ns]

In [13]:
#날짜 데이터들을 object에서 데이터 형식으로 변경 
data2['일봉날짜'] = pd.to_datetime(data2['일봉날짜'], format='%Y-%m-%d')
data2['일봉날짜']

일_카테고리
A001     1549996   1999-03-24
         1549994   1999-03-25
         1549993   1999-03-25
         1549992   1999-03-25
         1549991   1999-03-25
                      ...
J006002  1435705   2009-11-11
         1347428   2014-08-25
         1376668   2014-08-25
         1284412   2015-04-24
         1204404   2015-04-24
Name: 일봉날짜, Length: 1522810, dtype: datetime64[ns]

In [14]:
#데이터양을 조금 줄여주기 위해서 2000년부터의 데이터만 
filter_data = data2.loc[(data2['일봉날짜'] > '2000-01-01')] 
filter_data.head()

                     일_날짜 일_카테고리  일_종목명  일_종목코드       일봉날짜     일봉시가     일봉고가  \
일_카테고리
A001   1548827 1999-12-30   A001   선창산업    2820 2000-01-04  11000.0  12500.0
       1548832 1999-12-29   A001   미원상사    2840 2000-01-04  13500.0  14950.0
       1548831 1999-12-29   A001  사조동아원    8040 2000-01-04   1700.0   1840.0
       1548830 1999-12-29   A001   미원상사    2840 2000-01-04  13500.0  14950.0
       1548829 1999-12-29   A001   이건산업    8250 2000-01-04   5800.0   6370.0

                   일봉저가     일봉종가    일봉거래량   일봉거래대금   일봉주가등락률       일주후날짜  \
일_카테고리
A001   1548827  11000.0  12350.0   4020.0  47228.0  0.122727  2000-01-06
       1548832  13500.0  14950.0   1310.0  18350.0  0.107407  2000-01-05
       1548831   1700.0   1840.0  20260.0  37000.0  0.082353  2000-01-05
       1548830  13500.0  14950.0   1310.0  18350.0  0.107407  2000-01-05
       1548829   5760.0   6260.0  14940.0  91000.0  0.079310  2000-01-05

                  일주후시가    일주후종가   일주후거래량   일주후거래대금  일주후주가등락률
일_카테고리
A001   1548827  12000.0  12000.0   1140.0   13482.0  0.090909
       1548832  16000.0  17150.0  20020.0  340093.0  0.185185
       1548831   1730.0   1870.0  44250.0   82000.0  0.017647
       1548830  16000.0  17150.0  20020.0  340093.0  0.185185
       1548829   6200.0   6300.0  40870.0  257000.0  0.068966

## 당일의 등락률 구해주기(공시 발표 당일의 저가와 고가를 이용)

In [15]:
당일_등락률 = filter_data.copy()
당일_등락률['당일 등락률'] = (filter_data['일봉고가'] - filter_data['일봉저가'])/filter_data['일봉저가']
당일_등락률 = 당일_등락률.filter(like  = '등락률',axis= 1)
당일_등락률.head()

                 일봉주가등락률  일주후주가등락률    당일 등락률
일_카테고리
A001   1548827  0.122727  0.090909  0.136364
       1548832  0.107407  0.185185  0.107407
       1548831  0.082353  0.017647  0.082353
       1548830  0.107407  0.185185  0.107407
       1548829  0.079310  0.068966  0.105903

# 공시발표 당일의 시가와 종가를 비교

In [18]:
당일_등락률 = filter_data.copy()
당일_등락률['당일 등락률'] = (filter_data['일봉종가'] - filter_data['일봉시가'])/filter_data['일봉시가']
당일_등락률 = 당일_등락률.filter(like  = '등락률',axis= 1)
당일_등락률.head()

                 일봉주가등락률  일주후주가등락률    당일 등락률
일_카테고리
A001   1548827  0.122727  0.090909  0.122727
       1548832  0.107407  0.185185  0.107407
       1548831  0.082353  0.017647  0.082353
       1548830  0.107407  0.185185  0.107407
       1548829  0.079310  0.068966  0.079310

# 일주일 후의 등락률 최댓값(공시날의 저가와 일주일 후의 고가를 이용하여)

In [16]:
일주후_등락률 = filter_data.copy()
일주후_등락률['일주후 등락률(저)'] = (filter_data['일주후종가'] - filter_data['일봉저가'])/filter_data['일봉저가']
일주후_등락률 = 일주후_등락률.filter(like  = '등락률',axis= 1)
일주후_등락률.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(저)
일_카테고리
A001   1548827  0.122727  0.090909    0.090909
       1548832  0.107407  0.185185    0.270370
       1548831  0.082353  0.017647    0.100000
       1548830  0.107407  0.185185    0.270370
       1548829  0.079310  0.068966    0.093750

## 공시 당일날 종가 일주후 종가 비교

In [17]:
일주후_등락률_종 = filter_data.copy()
일주후_등락률_종['일주후 등락률(종)'] = (filter_data['일주후종가'] - filter_data['일봉종가'])/filter_data['일봉종가']
일주후_등락률_종 = 일주후_등락률_종.filter(like  = '등락률',axis= 1)
일주후_등락률_종.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(종)
일_카테고리
A001   1548827  0.122727  0.090909   -0.028340
       1548832  0.107407  0.185185    0.147157
       1548831  0.082353  0.017647    0.016304
       1548830  0.107407  0.185185    0.147157
       1548829  0.079310  0.068966    0.006390

# 공시당일날 시가 일주일 후 종가 비교

In [19]:
일주후_등락률_종 = filter_data.copy()
일주후_등락률_종['일주후 등락률(시)'] = (filter_data['일주후종가'] - filter_data['일봉시가'])/filter_data['일봉시가']
일주후_등락률_종 = 일주후_등락률_종.filter(like  = '등락률',axis= 1)
일주후_등락률_종.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(시)
일_카테고리
A001   1548827  0.122727  0.090909    0.090909
       1548832  0.107407  0.185185    0.270370
       1548831  0.082353  0.017647    0.100000
       1548830  0.107407  0.185185    0.270370
       1548829  0.079310  0.068966    0.086207