In [1]:
import pandas as pd
import numpy as np

In [2]:
#코스피200 항목들 불러오기
코스피200 = pd.read_csv('KOSPI200.csv', encoding='euc-kr')
코스피200.head()

   Unnamed: 0        이름      코드
0           0      삼성전자    5930
1           1    SK하이닉스     660
2           2  삼성바이오로직스  207940
3           3      LG화학   51910
4           4     NAVER   35420

In [3]:
#불러온 종목 코드들을 isin()을 사용하기 위해 리스트형으로 변환 
kospi200 = list(np.array(코스피200['코드'].tolist()))
kospi200

[5930,
 660,
 207940,
 51910,
 35420,
 68270,
 5380,
 6400,
 35720,
 51900,
 270,
 12330,
 28260,
 5490,
 105560,
 17670,
 36570,
 55550,
 34730,
 66570,
 96770,
 32830,
 18260,
 15760,
 326030,
 3550,
 33780,
 9150,
 251270,
 90430,
 86790,
 11170,
 810,
 9830,
 10950,
 10130,
 18880,
 316140,
 86280,
 9540,
 24110,
 30200,
 6800,
 97950,
 21240,
 34220,
 285130,
 32640,
 271560,
 35250,
 3670,
 6280,
 180640,
 139480,
 11780,
 100,
 4020,
 11200,
 71050,
 2790,
 3490,
 161390,
 267250,
 29780,
 10140,
 720,
 34020,
 8930,
 120,
 128940,
 11070,
 4990,
 78930,
 16360,
 5830,
 12750,
 241560,
 8770,
 11790,
 5940,
 26960,
 210,
 3410,
 42660,
 23530,
 81660,
 36460,
 7070,
 28050,
 8560,
 6360,
 30000,
 80,
 47810,
 1040,
 282330,
 4170,
 9240,
 28670,
 1450,
 20150,
 7310,
 880,
 204320,
 6260,
 5250,
 138930,
 9420,
 42670,
 14680,
 88350,
 4370,
 47050,
 185750,
 64350,
 17800,
 10120,
 4800,
 69960,
 10620,
 10060,
 6650,
 3000,
 47040,
 240,
 2380,
 990,
 7700,
 111770,
 294870,
 12450,
 4000,
 6120,
 3520,
 10780,
 51600,
 11210,
 7570,
 1740,
 214320,
 20560,
 73240,
 192080,
 32350,
 69620,
 31430,
 161890,
 120110,
 192820,
 69260,
 670,
 3240,
 284740,
 93370,
 241590,
 114090,
 640,
 1680,
 57050,
 5300,
 16380,
 1800,
 14820,
 150,
 3850,
 64960,
 79160,
 5440,
 170900,
 71840,
 20000,
 103140,
 1120,
 192400,
 105630,
 49770,
 1060,
 108670,
 18250,
 5610,
 1230,
 79550,
 52690,
 12630,
 70,
 115390,
 145990,
 2350,
 5180,
 4490,
 93050,
 27410,
 6390,
 25860,
 9410,
 14830,
 60980,
 2270,
 1430,
 19680]

In [4]:
#투자자 엑셀 파일 불러오기
투자자 = pd.read_csv('투자자20201103.csv', encoding='euc-kr')
투자자.head()

,Unnamed: 0,종목,시가,1,종가1,2,종가2,3,종가3,4,...,프로그램순매수1,프로그램순매수2,프로그램순매수3,프로그램순매수4,프로그램순매수5,프로그램순매수6,프로그램순매수7,프로그램순매수8,프로그램순매수9,프로그램순매수10
0,0,2170,59600,2020-09-08,59600,2020-09-09,59400,2020-09-10,58700,2020-09-11,...,-80.0,177.0,-1568.0,-1345.0,-534.0,948.0,-260.0,-225.0,-516.0,1847.0
1,1,2170,58700,2020-09-11,58300,2020-09-14,59400,2020-09-15,60300,2020-09-16,...,-1345.0,-534.0,948.0,-260.0,-225.0,-516.0,1847.0,-595.0,-462.0,-563.0
2,2,2200,21300,2018-07-16,21600,2018-07-17,21200,2018-07-18,20900,2018-07-19,...,1251.0,-593.0,-1385.0,-1721.0,-486.0,-506.0,-1174.0,-1223.0,-646.0,-360.0
3,3,2200,21700,2018-07-17,21200,2018-07-18,20900,2018-07-19,21800,2018-07-20,...,-593.0,-1385.0,-1721.0,-486.0,-506.0,-1174.0,-1223.0,-646.0,-360.0,-366.0
4,4,2200,21500,2018-07-20,21200,2018-07-23,21800,2018-07-24,20900,2018-07-25,...,-486.0,-506.0,-1174.0,-1223.0,-646.0,-360.0,-366.0,-63.0,46.0,-1646.0

In [5]:
#kospi200 항목들만을 분류해주기
투자자 = 투자자[투자자['종목'].isin(kospi200)]
투자자

,Unnamed: 0,종목,시가,1,종가1,2,종가2,3,종가3,4,...,프로그램순매수1,프로그램순매수2,프로그램순매수3,프로그램순매수4,프로그램순매수5,프로그램순매수6,프로그램순매수7,프로그램순매수8,프로그램순매수9,프로그램순매수10
117,117,2350,10100,2018-07-03,10000,2018-07-04,10000,2018-07-05,10050,2018-07-06,...,-19994.0,-13391.0,-10612.0,6756.0,-7402.0,-11506.0,-26941.0,13628.0,21204.0,3759.0
118,118,2350,9950,2018-07-06,10450,2018-07-09,10400,2018-07-10,10350,2018-07-11,...,6756.0,-7402.0,-11506.0,-26941.0,13628.0,21204.0,3759.0,-32762.0,-36964.0,-12815.0
119,119,2350,10350,2018-07-12,10400,2018-07-13,10500,2018-07-16,10900,2018-07-17,...,13628.0,21204.0,3759.0,-32762.0,-36964.0,-12815.0,-45055.0,-1902.0,-20393.0,16139.0
120,120,2350,9710,2018-09-05,9720,2018-09-06,9730,2018-09-07,9750,2018-09-10,...,-252.0,8237.0,2332.0,-16085.0,578.0,-29398.0,9731.0,17798.0,-7091.0,-25433.0
121,121,2350,9670,2018-09-10,9650,2018-09-11,9640,2018-09-12,9460,2018-09-13,...,-16085.0,578.0,-29398.0,9731.0,17798.0,-7091.0,-25433.0,-18358.0,-11084.0,-8102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250554,1250554,2790,52500,2020-07-09,52600,2020-07-10,51000,2020-07-13,51700,2020-07-14,...,-3550.0,-24849.0,-13143.0,14287.0,-4100.0,-12626.0,-16156.0,-14929.0,18962.0,-36075.0
1250555,1250555,2790,52200,2020-09-02,52100,2020-09-03,52100,2020-09-04,51200,2020-09-07,...,8629.0,-8752.0,-6878.0,-19640.0,-18160.0,-6577.0,-34567.0,-4776.0,-7922.0,-1461.0
1250556,1250556,2790,51000,2020-09-07,50900,2020-09-08,51000,2020-09-09,50300,2020-09-10,...,-19640.0,-18160.0,-6577.0,-34567.0,-4776.0,-7922.0,-1461.0,-55483.0,2897.0,-17017.0
1250557,1250557,2790,51000,2020-09-08,51000,2020-09-09,50300,2020-09-10,50000,2020-09-11,...,-18160.0,-6577.0,-34567.0,-4776.0,-7922.0,-1461.0,-55483.0,2897.0,-17017.0,-4337.0
1250558,1250558,2790,50000,2020-09-11,50500,2020-09-14,51800,2020-09-15,51500,2020-09-16,...,-4776.0,-7922.0,-1461.0,-55483.0,2897.0,-17017.0,-4337.0,-47356.0,-7016.0,-7221.0

In [6]:
#기존코드
#조건에 따라 분류해주기 
기관매수 = 투자자[
            (
                ((투자자.기관순매수1>0) & (투자자.기관순매수2>0)) |
                ((투자자.기관순매수2>0) & (투자자.기관순매수3>0)) |
                ((투자자.기관순매수1>0) & (투자자.기관순매수3>0))
            ) |
            ((투자자.기관순매수1>0) & (투자자.기관순매수2>0) & (투자자.기관순매수3>0))]
기관매수

,Unnamed: 0,종목,시가,1,종가1,2,종가2,3,종가3,4,...,프로그램순매수1,프로그램순매수2,프로그램순매수3,프로그램순매수4,프로그램순매수5,프로그램순매수6,프로그램순매수7,프로그램순매수8,프로그램순매수9,프로그램순매수10
124,124,2350,9070,2019-01-02,9000,2019-01-03,9120,2019-01-04,9410,2019-01-07,...,-475.0,21691.0,49017.0,10945.0,7501.0,25483.0,-3239.0,5688.0,-5571.0,23126.0
125,125,2350,9490,2019-01-07,9560,2019-01-08,9420,2019-01-09,9220,2019-01-10,...,10945.0,7501.0,25483.0,-3239.0,5688.0,-5571.0,23126.0,-8246.0,28382.0,9978.0
126,126,2350,9650,2019-01-08,9420,2019-01-09,9220,2019-01-10,9310,2019-01-11,...,7501.0,25483.0,-3239.0,5688.0,-5571.0,23126.0,-8246.0,28382.0,9978.0,14718.0
127,127,2350,9760,2019-02-28,9590,2019-03-04,9880,2019-03-05,9690,2019-03-06,...,312.0,123365.0,-21695.0,14913.0,-10481.0,9242.0,15962.0,14201.0,14134.0,42459.0
128,128,2350,9710,2019-03-07,9620,2019-03-08,9470,2019-03-11,9480,2019-03-12,...,-10481.0,9242.0,15962.0,14201.0,14134.0,42459.0,200139.0,6521.0,27440.0,-11590.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250547,1250547,2790,64400,2020-03-03,61600,2020-03-04,63000,2020-03-05,64500,2020-03-06,...,11534.0,21193.0,-4561.0,609.0,5167.0,-4982.0,81948.0,45779.0,40481.0,-7175.0
1250548,1250548,2790,63200,2020-03-06,62800,2020-03-09,60500,2020-03-10,61200,2020-03-11,...,609.0,5167.0,-4982.0,81948.0,45779.0,40481.0,-7175.0,-62848.0,-7041.0,-48334.0
1250550,1250550,2790,57000,2020-05-06,56400,2020-05-07,56900,2020-05-08,57700,2020-05-11,...,13878.0,108551.0,9262.0,-19117.0,-9766.0,8515.0,-2803.0,9289.0,-24993.0,10248.0
1250554,1250554,2790,52500,2020-07-09,52600,2020-07-10,51000,2020-07-13,51700,2020-07-14,...,-3550.0,-24849.0,-13143.0,14287.0,-4100.0,-12626.0,-16156.0,-14929.0,18962.0,-36075.0
1250558,1250558,2790,50000,2020-09-11,50500,2020-09-14,51800,2020-09-15,51500,2020-09-16,...,-4776.0,-7922.0,-1461.0,-55483.0,2897.0,-17017.0,-4337.0,-47356.0,-7016.0,-7221.0

##### 설정해주는 조건에 따라 2~3일 연속으로 매수한 경우

In [7]:
#s는 매수하는 대상 

s = '기관'

#SettingWithCopyWarning: 에러가 발생하여 .copy를 추가해줌
순매수 = 투자자[
    (
                ((투자자.filter(regex = '^{}순매수1$'.format(s))['{}순매수1'.format(s)]>0) & 
                 (투자자.filter(regex = '^{}순매수2$'.format(s))['{}순매수2'.format(s)]>0))
                 |
                ((투자자.filter(regex = '^{}순매수2$'.format(s))['{}순매수2'.format(s)]>0) & 
                 (투자자.filter(regex = '^{}순매수3$'.format(s))['{}순매수3'.format(s)]>0))
                 |
                ((투자자.filter(regex = '^{}순매수1$'.format(s))['{}순매수1'.format(s)]>0) & 
                 (투자자.filter(regex = '^{}순매수3$'.format(s))['{}순매수3'.format(s)]>0))
                 |
            ((투자자.filter(regex = '^{}순매수1$'.format(s))['{}순매수1'.format(s)]>0) &
             (투자자.filter(regex = '^{}순매수2$'.format(s))['{}순매수2'.format(s)]>0) & 
             (투자자.filter(regex = '^{}순매수3$'.format(s))['{}순매수3'.format(s)]>0))
    )].copy()

#투자자유형에 따라
#등락률을 넣어준 이유는 이후에 filter를 사용할때 한번에 불러오기 용이하기 위해서 
순매수.loc[:,'등락률_유형'] = s
순매수.rename(columns = {'종목':'종목_등락률'},inplace = True)
순매수

,Unnamed: 0,종목_등락률,시가,1,종가1,2,종가2,3,종가3,4,...,프로그램순매수2,프로그램순매수3,프로그램순매수4,프로그램순매수5,프로그램순매수6,프로그램순매수7,프로그램순매수8,프로그램순매수9,프로그램순매수10,등락률_유형
124,124,2350,9070,2019-01-02,9000,2019-01-03,9120,2019-01-04,9410,2019-01-07,...,21691.0,49017.0,10945.0,7501.0,25483.0,-3239.0,5688.0,-5571.0,23126.0,기관
125,125,2350,9490,2019-01-07,9560,2019-01-08,9420,2019-01-09,9220,2019-01-10,...,7501.0,25483.0,-3239.0,5688.0,-5571.0,23126.0,-8246.0,28382.0,9978.0,기관
126,126,2350,9650,2019-01-08,9420,2019-01-09,9220,2019-01-10,9310,2019-01-11,...,25483.0,-3239.0,5688.0,-5571.0,23126.0,-8246.0,28382.0,9978.0,14718.0,기관
127,127,2350,9760,2019-02-28,9590,2019-03-04,9880,2019-03-05,9690,2019-03-06,...,123365.0,-21695.0,14913.0,-10481.0,9242.0,15962.0,14201.0,14134.0,42459.0,기관
128,128,2350,9710,2019-03-07,9620,2019-03-08,9470,2019-03-11,9480,2019-03-12,...,9242.0,15962.0,14201.0,14134.0,42459.0,200139.0,6521.0,27440.0,-11590.0,기관
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250547,1250547,2790,64400,2020-03-03,61600,2020-03-04,63000,2020-03-05,64500,2020-03-06,...,21193.0,-4561.0,609.0,5167.0,-4982.0,81948.0,45779.0,40481.0,-7175.0,기관
1250548,1250548,2790,63200,2020-03-06,62800,2020-03-09,60500,2020-03-10,61200,2020-03-11,...,5167.0,-4982.0,81948.0,45779.0,40481.0,-7175.0,-62848.0,-7041.0,-48334.0,기관
1250550,1250550,2790,57000,2020-05-06,56400,2020-05-07,56900,2020-05-08,57700,2020-05-11,...,108551.0,9262.0,-19117.0,-9766.0,8515.0,-2803.0,9289.0,-24993.0,10248.0,기관
1250554,1250554,2790,52500,2020-07-09,52600,2020-07-10,51000,2020-07-13,51700,2020-07-14,...,-24849.0,-13143.0,14287.0,-4100.0,-12626.0,-16156.0,-14929.0,18962.0,-36075.0,기관
1250558,1250558,2790,50000,2020-09-11,50500,2020-09-14,51800,2020-09-15,51500,2020-09-16,...,-7922.0,-1461.0,-55483.0,2897.0,-17017.0,-4337.0,-47356.0,-7016.0,-7221.0,기관

In [8]:
#매수하는 날짜로부터 10일 이내에 매도할 경우의 등락률 구해주기.
#s_date는 매수 날짜 
s_date = 3

for i in range(10-s_date):
    순매수['등락률'+ str(s_date)+'매수' + str(10-i) +'매도'] = (순매수['종가'+ str(10-i)] - 순매수['종가' + str(s_date)]) / 순매수['종가'+ str(s_date)]

In [9]:
순매수

,Unnamed: 0,종목_등락률,시가,1,종가1,2,종가2,3,종가3,4,...,프로그램순매수9,프로그램순매수10,등락률_유형,등락률3매수10매도,등락률3매수9매도,등락률3매수8매도,등락률3매수7매도,등락률3매수6매도,등락률3매수5매도,등락률3매수4매도
124,124,2350,9070,2019-01-02,9000,2019-01-03,9120,2019-01-04,9410,2019-01-07,...,-5571.0,23126.0,기관,-0.027630,-0.032944,-0.014878,-0.010627,-0.020191,0.001063,0.015940
125,125,2350,9490,2019-01-07,9560,2019-01-08,9420,2019-01-09,9220,2019-01-10,...,28382.0,9978.0,기관,0.020607,0.011931,-0.002169,-0.007592,-0.013015,0.005423,0.009761
126,126,2350,9650,2019-01-08,9420,2019-01-09,9220,2019-01-10,9310,2019-01-11,...,9978.0,14718.0,기관,0.033298,0.010741,0.002148,-0.011815,-0.017186,-0.022556,-0.004296
127,127,2350,9760,2019-02-28,9590,2019-03-04,9880,2019-03-05,9690,2019-03-06,...,14134.0,42459.0,기관,-0.029928,-0.037152,-0.031992,-0.021672,-0.022704,-0.007224,0.002064
128,128,2350,9710,2019-03-07,9620,2019-03-08,9470,2019-03-11,9480,2019-03-12,...,27440.0,-11590.0,기관,0.118143,0.118143,0.107595,0.081224,-0.008439,-0.015823,-0.010549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250547,1250547,2790,64400,2020-03-03,61600,2020-03-04,63000,2020-03-05,64500,2020-03-06,...,40481.0,-7175.0,기관,-0.225581,-0.184496,-0.145736,-0.105426,-0.051163,-0.062016,-0.026357
1250548,1250548,2790,63200,2020-03-06,62800,2020-03-09,60500,2020-03-10,61200,2020-03-11,...,-7041.0,-48334.0,기관,-0.215686,-0.161765,-0.158497,-0.183824,-0.140523,-0.099673,-0.057190
1250550,1250550,2790,57000,2020-05-06,56400,2020-05-07,56900,2020-05-08,57700,2020-05-11,...,-24993.0,10248.0,기관,0.001733,-0.051993,-0.046794,-0.046794,-0.045061,-0.055459,-0.029463
1250554,1250554,2790,52500,2020-07-09,52600,2020-07-10,51000,2020-07-13,51700,2020-07-14,...,18962.0,-36075.0,기관,0.038685,0.061896,0.046422,0.059961,0.058027,0.030948,0.027079
1250558,1250558,2790,50000,2020-09-11,50500,2020-09-14,51800,2020-09-15,51500,2020-09-16,...,-7016.0,-7221.0,기관,-0.078641,-0.065049,-0.052427,-0.023301,-0.019417,-0.011650,-0.009709

In [10]:
#등락률 포함하는 컬럼만 뽑아주기 (위의 경우 종목 코드와 투자자 유형 그리고 등락률)
등락률 = 순매수.filter(like  = '등락률',axis= 1)

### 종목별로 구해줄 경우

In [11]:
#종목별 등락률의 평균을 구해줄 경우 
종목별_평균 = 등락률.groupby('종목_등락률',as_index = False).mean()
종목별_평균['투자자 유형'] = 등락률.iloc[0]['등락률_유형']

#컬럼 이름을 다시 원래대로 설정 
종목별_평균.rename(columns = {'종목_등락률':'종목 코드'},inplace = True)

#투자자 유형과 종목 코드를 인덱스로 설정 
종목별_평균 = 종목별_평균.set_index(['투자자 유형','종목 코드'])
종목별_평균

               등락률3매수10매도  등락률3매수9매도  등락률3매수8매도  등락률3매수7매도  등락률3매수6매도  \
투자자 유형 종목 코드
기관     70       -0.022997  -0.020622  -0.018382  -0.012643  -0.010162
       80        0.008714   0.008167   0.006892   0.005522   0.004487
       100       0.007654   0.006445   0.005348   0.003188   0.001211
       120       0.001785   0.003035   0.001871  -0.000057  -0.001810
       150      -0.002203   0.001202   0.002206   0.001928   0.000881
...                   ...        ...        ...        ...        ...
       284740    0.008791   0.008743   0.007886   0.006465   0.004386
       285130    0.043535   0.036860   0.030149   0.023074   0.015688
       294870   -0.019726  -0.018380  -0.015461  -0.010357  -0.008043
       316140   -0.014642  -0.011203  -0.009716  -0.007314  -0.005352
       326030   -0.057390  -0.053283  -0.045309  -0.038201  -0.027799

               등락률3매수5매도  등락률3매수4매도
투자자 유형 종목 코드
기관     70      -0.008056  -0.003158
       80       0.002618   0.001470
       100      0.000865   0.000853
       120     -0.002195  -0.002045
       150     -0.000543  -0.001536
...                  ...        ...
       284740   0.002277   0.001463
       285130   0.010036   0.005032
       294870  -0.005286  -0.002098
       316140  -0.003415  -0.001015
       326030  -0.016529  -0.007046

[200 rows x 7 columns]

In [12]:
#최대평균등락률 구해주기
#추후에 행전체를 추출하는 코드 추가 예정 
종목별_평균.idxmax()

등락률3매수10매도    (기관, 285130)
등락률3매수9매도     (기관, 285130)
등락률3매수8매도     (기관, 285130)
등락률3매수7매도      (기관, 34020)
등락률3매수6매도      (기관, 34020)
등락률3매수5매도      (기관, 34020)
등락률3매수4매도      (기관, 20560)
dtype: object

In [13]:
#최소평균등락률 구해주기
종목별_평균.idxmin()

등락률3매수10매도    (기관, 326030)
등락률3매수9매도     (기관, 326030)
등락률3매수8매도     (기관, 326030)
등락률3매수7매도     (기관, 326030)
등락률3매수6매도     (기관, 326030)
등락률3매수5매도     (기관, 326030)
등락률3매수4매도     (기관, 326030)
dtype: object

### 종목이 아닌 전체의 등락률을 구하는 경우

In [14]:
average = pd.DataFrame(columns = ['매수/매도','평균 등락률'])

#종목코드는 필요가 없으므로 
등락률 = 등락률.filter(regex = '매도$')

for each in 등락률.columns:
    average = average.append(pd.DataFrame([[each,등락률[each].mean()]],columns = ['매수/매도','평균 등락률']),ignore_index = True)
    
print(average['평균 등락률'].max())
average

0.0025315838466057746

        매수/매도    평균 등락률
0  등락률3매수10매도  0.002532
1   등락률3매수9매도  0.002090
2   등락률3매수8매도  0.001673
3   등락률3매수7매도  0.001405
4   등락률3매수6매도  0.001026
5   등락률3매수5매도  0.000734
6   등락률3매수4매도  0.000482